<div class="container">
  <a routerLink="/main/mainHeader" class="logo">Food Store</a>
  <ul>
    <li>
      <a routerLink="/main/login">Login</a>
    </li>
    <li class="menu-container">
      <a routerLink="/main/dashboard">Alaa</a>
      <div class="menu">
        <a routerLink="/main/profile">Profile</a>
        <a routerLink="/main/orders">Orders</a>
        <a >Logout</a>
      </div>
    </li>
    <li>
      <a routerLink="/main/cartPage">Cart <span>3</span></a>
    </li>
  </ul>
</div>
